.text {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

.text--regular {
  color: #191c2c;
}

.text--centered {
  text-align: center;
  color: #a3a5a4;
  margin: 12px 0;
}

.text--error {
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  color: #f84147;
}
