@import 'theme/abstract/_mixins.scss';

.text {
  @include text-styles;
}

.text--regular {
  color: var(--black-text-color);
}

.text--centered {
  text-align: center;
  color: var(--gray-color);
  margin: 12px 0;
}

.text--divider {
  position: relative;
  color: var(--gray-color);
  margin: 12px auto;
  padding: 0 16px;
  background-color: var(--white-bg-color);

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 50%;
    right: 50%;
    transform: translateY(-50%);
    width: calc(100vw / 2 - 16px);
    height: 1px;
    background-color: var(--gray-color);
  }
  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    width: calc(100vw / 2 - 16px);
    height: 1px;
    background-color: var(--gray-color);
  }
}

.text--error {
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  color: var(--error-color);
}
