.textTotal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 18px;
}

.text-sum {
  color: var(--Black, #191c2c);
  /* h3 */
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-left: 16px;
  padding-top: 16px;
  padding-bottom: 20px;
}

.wrapperButton {
  &:last-child {
    padding-top: 20px;
  }
}

.total {
  color: var(--Black, #191c2c);
  /* h3 */
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-right: 16px;
}
