.list {
  display: flex;
  justify-content: space-between;
  padding: 24px 10.5px 16px;
}

.link {
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--black-text-color);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.link--active {
  color: var(--accent-color);
}
