@import '../../theme/abstract/mixins';

.list {
  display: flex;
  justify-content: space-between;
  padding: 24px 10.5px 16px;
}

.link {
  /* основний текст */
  @include text-styles;
  color: var(--black-text-color);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.link--active {
  color: var(--accent-color);
}
