// .paw {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   z-index: 999;
//   width: fit-content;
//   transform: translate(-50%, -50%);
//   animation-name: spin;
//   animation-delay: 0s;
//   animation-duration: 1.5s;
//   animation-timing-function: linear;
//   animation-iteration-count: infinite;
//   fill: red;
// }

// @keyframes spin {
//   to {
//     transform: translate(-50%, -50%) rotate(360deg);
//   }
// }

#pawleft {
  animation: rotate 2s ease-in-out infinite;
  transform-origin: center;
  background-color: #2c0edb;
  fill: red;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) translateY(0);
  }
  40% {
    transform: rotate(90deg) translateY(-7px);
  }
  60% {
    transform: rotate(180deg) translateY(-10px);
  }
  100% {
    transform: rotate(0deg) translateY(0);
  }
}
