// .paw {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   z-index: 999;
//   width: fit-content;
//   transform: translate(-50%, -50%);
//   animation-name: spin;
//   animation-delay: 0s;
//   animation-duration: 1.5s;
//   animation-timing-function: linear;
//   animation-iteration-count: infinite;
//   fill: red;
// }

// @keyframes spin {
//   to {
//     transform: translate(-50%, -50%) rotate(360deg);
//   }
// }

#ground {
  fill: rgba(0, 0, 0, 0.5);
}

#pawleft {
  animation: rotatefront 1s ease-in-out infinite;
  transform-origin: center ;
  background-color: #2c0edb;
  fill: red;
}
#pawright {
  animation: rotatefront 1s ease-in-out infinite;
  transform-origin: center;
  background-color: #2c0edb;
  fill: red;
}

@keyframes rotatefront {
  0% {
    transform: rotate(0deg) translateY(0);
  }
  // 10% {
  //   transform: rotate(10deg) translateY(1px);
  // }
  20% {
    transform: rotate(-45deg) translate(20px, -2px );
  }
  // 30% {
  //   transform: rotate(10deg) translateY(1px);
  // }
  40% {
    transform: rotate(-45deg) translate(10px, -10px );
  }
  // 50% {
  //   transform: rotate(10deg) translateY(1px);

  // }
  60% {
    transform: rotate(-45deg) translate(0px, -15px);
  }
  // 70% {
  //   transform: rotate(20deg) translateY(-3px);
  // }
  // 80% {
  //   transform: rotate(10deg) translateY(1px);
  // }
  // 90% {
  //   transform: rotate(10deg) translateY(1px);
  // }
  100% {
    transform: rotate(0deg) translateY(0);
  }
}

#pawleftrear {
  animation: rotateback 1s ease-in-out infinite;
  transform-origin: center;
  background-color: #2c0edb;
  fill: red;
}

#pawrightrear {
  animation: rotateback 1s ease-in-out infinite;
  transform-origin: center;
  background-color: #2c0edb;
  fill: red;
}

#stomak4 {
  animation: rotateback 1s ease-in-out infinite;
  transform-origin: center;
  background-color: #2c0edb;
  fill: red;
}

#stomak3 {
  animation: rotateback 1s ease-in-out infinite;
  transform-origin: center;
  background-color: #2c0edb;
  fill: red;
}
@keyframes rotateback {
  0% {
    transform: rotate(0deg) translateY(0);
  }
  50% {
    transform: rotate(-8deg) translateY(10px);
  }
  /* 60% {
    transform: rotate(20deg) translateY(-3px);
  } */
  100% {
    transform: rotate(0deg) translateY(0);
  }
}

#tail {
  animation: rotatetail 1s ease-in-out infinite;
  transform-origin: center;
  background-color: #2c0edb;
  fill: red;
}
#tail1 {
  animation: rotatetail 1s ease-in-out infinite;
  transform-origin: center;
  background-color: #2c0edb;
  fill: red;
}

#tail-1 {
  animation: rotatetail 1s ease-in-out infinite;
  transform-origin: center;
  background-color: #2c0edb;
  fill: red;
}

#tail-2 {
  animation: rotatetail 1s ease-in-out infinite;
  transform-origin: center;
  background-color: #2c0edb;
  fill: red;
}
#tail3 {
  animation: rotatetail 1s ease-in-out infinite;
  transform-origin: center;
  background-color: #2c0edb;
  fill: red;
}
#tail2 {
  animation: rotatetail 1s ease-in-out infinite;
  transform-origin: center;
  background-color: #2c0edb;
  fill: red;
}

@keyframes rotatetail {
  0% {
    transform: rotate(0deg) translateY(0);
  }
  50% {
    transform: rotate(30deg) translateY(-33px) translateX(-18px);
  }
  /* 60% {
    transform: rotate(20deg) translateY(-3px);
  } */
  100% {
    transform: rotate(0deg) translateY(0);
  }
}


