.container {
  padding-bottom: 32px;
  background-color: #fff;
}

.innerContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  column-gap: 12px;
  width: 100%;
}

.innerContainer_single {
  justify-content: flex-start;
  width: calc(50% - 6px);
}

.innerContainer_tripple {
  position: relative;
  column-gap: 15;
}

.dates {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  column-gap: 12px;

  &::after {
    content: url('../../shared/icons/shortline.svg');
    stroke: #000;
    display: block;
    box-sizing: border-box;
    height: 1px;
    width: 6px;
    z-index: 20;

    position: absolute;
    top: 45%;
    left: 50%;

    transform: translate(-45%, -50%);
  }
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 16px;
  margin-top: 8px;
  box-sizing: border-box;

  & .category {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }
}
