// .wrap {
//   display: none;
// }
.link {
  display: inline-block;
  text-decoration: none;
  margin: 0 5px;
  color: var(--unnamed, #191c2c);
  font-family: 'Nunito';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  &:global(.active) {
    font-weight: bold;
    color: var(--unnamed, #f3a610);
  }
}
