@import '../../theme/abstract/mixins';

.text {
  color: var(--black-text-colorc);
  /* основний текст */
  @include text-styles;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 33px;
}

.wrapperButton {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 40px;
}
