.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

// .form input {
//   color: var(--bg, #191c2c);
// }

.form .submit-button {
  margin-top: 36px;
  &:hover,
  &:focus {
    background-color: #f39610;
  }
}

.text {
  color: red;
}

