.productCard {
    max-width: 448px;
    border-radius: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 12px;
    padding-left: 12px;
    background: var(--unnamed, #FFF);
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 768px) {
    .productCard {
        width: 288px;
    }
    }

.image {
    height: 264px;
    margin-bottom: 12px;
    background-color:#fefefe;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: solid red 1px;
}

.img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.textDesc {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
}

.name {
    font-weight: 700;
    color: var(--unnamed, #191C2C);
    margin: 0;
}

.price {
    font-weight: 400px;
    color: var(--unnamed, #A3A5A4);
    // opacity: 70%;
    margin: 0;
}

.rating {
    margin-top: 5px;
    display: flex;
    gap: 5px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
