@import '../../../../theme/abstract/mixins';

.label {
  position: relative;
  display: block;
  min-height: 63px;

  /* основний текст */
  @include text-styles;
  color: var(--black-text-color);
}

.input {
  display: flex;
  align-items: center;

  width: 100%;
  // min-height: 40px;
  padding: 10.5px 36px 10.5px 12px;
  margin-top: 4px;

  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: normal;
  text-align: start;
  vertical-align: bottom;
  color: inherit;

  border-radius: 8px;
  border: var(--border-primary);
  outline: none;
  cursor: pointer;

  &::placeholder {
    color: var(--gray-color);
  }

  &:hover,
  &:focus,
  &:active {
    border: var(--border-accent);
  }
}

input[type='search'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;

  &::-webkit-search-cancel-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}

.button {
  position: absolute;
  top: 31px;
  right: 12px;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 24px;
  height: 24px;

  stroke: var(--black-text-color);
  background-color: transparent;
  border: none;
  outline: none;

  &:hover,
  &:focus,
  &:active {
    stroke: var(--accent-color);
    fill: var(--accent-color);
  }
}

.input:hover + button,
.input:focus + button,
.input:active + button {
  stroke: var(--accent-color);
  fill: var(--accent-color);
}
