.container {
  position: relative;
}

.label {
  display: block;
  width: 100%;
  position: relative;

  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  color: #191c2c;
  cursor: pointer;

  &.label-options {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 35px;
    padding-left: 16px;

    &:hover,
    &:focus,
    &.is-checked {
      color: #fefefe;
      background-color: #f3a610;
    }
  }
}

.select {
  display: flex;

  width: 100%;
  height: 40px;
  margin-top: 4px;
  padding: 0 16px;

  font-family: 'Nunito', sans-serif;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #a3a5a4;

  //   cursor: pointer;
  pointer-events: none;
  border: 1px solid #191c2c;
  border-radius: 8px;
  background-color: transparent;

  transition: all 0.3s ease 0s;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  &::-ms-expand {
    display: none;
  }

  &:hover,
  &:focus,
  &:active {
    border-color: #f3a610;
    outline: none;

    & + .icon {
      stroke: #f3a610;
    }
  }

  &:disabled {
    border-color: var(--color-gray);
    color: var(--color-white);
    cursor: not-allowed;
  }
}

.dropdown-container {
  position: absolute;
  z-index: 10;
  top: 67px;
  right: 0;
  padding: 8px 0;

  min-width: 193px;

  border-radius: 8px;
  border: 1px solid #7b7b7b;
  background-color: #fff;
}

.option {
  position: absolute;
  top: 0;
  left: 0;

  height: 35px;
  width: 100%; //
  padding: 0;

  font-family: Nunito, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #191c2c;
  cursor: pointer;

  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  opacity: 0;

  //   &:hover,
  //   &:focus,
  //   &:checked {
  //     background-color: #f3a610;
  //   }
}

.icon {
  position: absolute;
  display: flex;
  align-items: center;
  padding: 0;

  height: 40px;
  width: 24px;
  right: 16px;
  bottom: 0;

  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  pointer-events: none;
  fill: #191c2c;
  stroke: #191c2c;

  &-reverse {
    transform: rotate(180deg);
  }

  &:hover,
  &:focus,
  &:active {
    stroke: #f3a610;
    fill: #f3a610;
  }
}
