@import '../../../theme/abstract/mixins';

.input-box {
  position: relative;
  // display: block;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 63px;

  /* основний текст */
  @include text-styles;
  color: var(--black-text-color);
}

.input-box.without-label {
  min-height: 40px;
  // margin-top: -23px;
}

.label {
  &:hover {
    cursor: pointer;
  }
}

.input-box__length--lg {
  width: 100%;
  max-width: 448px;
  margin: 0 auto;

  @media screen and (min-width: 1280px) {
    max-width: 566px;
    border-radius: 12px;
  }
}

.input-box__length--md {
  width: 138px;
  width: calc(50% - 6px);
}

.input-box__length--sm {
  // width: 86px;
  width: calc((vw - 32px - 30px) / 3);

  &:not(:last-child)::after {
    content: url('../../icons/smallcross.svg');
    stroke: #000;
    display: block;
    box-sizing: border-box;
    height: 8px;
    width: 8px;
    z-index: 20;

    position: absolute;
    right: -9.5px;
    bottom: 22px;
  }
}

.input-box__controls {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  // gap: 16px;

  min-height: fit-content;
  width: fit-content;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    color: var(--accent-color);
  }
}

.input-box__controls--checked {
  color: var(--accent-color);
}

.input {
  display: flex;
  align-items: center;

  width: 100%;
  height: 40px;
  padding: 0 12px;
  margin-top: 4px;

  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: normal;
  color: inherit;

  border-radius: 8px;
  border: var(--border-primary);
  outline: none;
  cursor: pointer;

  &::placeholder {
    color: var(--gray-color);
  }

  &:hover,
  &:focus,
  &:active {
    border: var(--border-accent);
  }

  //   &:invalid:not(:focus):not(:placeholder-shown) {
  //     border-color: #f84147;
  //   }
}

// .input__type--password {
//   background-color: transparent;
// }

// .input__type--email {
//   background-color: transparent;
// }

// .input__type--text {
//   background-color: transparent;
// }

input.input--not-valid {
  border: var(--border-error);

  &:hover,
  &focus:not(:placeholder-shown),
//   &:not(:focus):not(:placeholder-shown),
  &:active,
  &:not(:active) {
    border: var(--border-error);
  }
}

input.input--is-valid:focus:not(:placeholder-shown) {
  border: 2px solid var(--accent-color);
}

.warning-icon {
  position: absolute;
  top: 31px;
  right: 16px;
  background-color: #fff;
}

.input[type='checkbox'] {
  position: relative;
  width: 16px;
  height: 16px;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: 1px solid var(--black-text-color);
  border-radius: 4px;
  background-color: transparent;
  padding: 0;
  margin: 0 16px 0 0;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 10px;
    height: 10px;
    background-color: var(--accent-color);

    border-radius: 2px;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  &:checked {
    border: var(--border-accent);
    &::before {
      opacity: 1;
    }
  }
}

.input[type='radio'] {
  position: relative;
  width: 20px;
  height: 20px;
  margin: 0 16px 0 0;
  padding: 0;
  border: var(--border-accent);
  border-radius: 50%;
  cursor: pointer;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;

  &:checked::before {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--accent-color);
  }
}

.input[type='search'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;

  &::-webkit-search-cancel-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}

.input-error {
  margin-top: 4px;
}

.input-box__length--md input,
.input-box__length--sm input {
  text-align: center;
}

.label_length-sm {
  position: relative;
  min-width: 86px;

  &:not(:last-child)::after {
    content: url('../../icons/smallcross.svg');
    stroke: #000;
    display: block;
    box-sizing: border-box;
    height: 8px;
    width: 8px;
    z-index: 20;

    position: absolute;
    right: -9.5px;
    bottom: 20px;
  }
}
