.list {
  display: flex;
  justify-content: space-between;
  padding: 16px 10.5px 16px;
}

.list li {
  width: calc((100vw - 32px) / 3);
  text-align: center;
}

.link {
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  // /* основний текст */
  // @include text-styles;
  color: var(--black-text-color);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.link--active {
  color: var(--accent-color);
}
