input.input--not-valid {
  border: 1px solid #f84147;

  &:hover,
  &focus,
  &:not(:focus),
  &:active,
  &:not(:active) {
    border: 1px solid #f84147;
  }
}

input.input--is-valid:focus:not(:placeholder-shown) {
  border: 2px solid #f3a610;
}

.warning-icon {
  position: absolute;
  bottom: 8px;
  right: 16px;
}
