.container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: center;
  gap: 15px;
  position: fixed;
  z-index: 11111111;
  top: 16px;
  right: 16px;
}

// .textMessage {
//   // display: flex;
//   // align-items: center;
//   min-width: 280px;
//   width: calc(100%);
//   // padding: 15px;
//   // margin: 15px;
//   color: var(--black-text-color);
//   text-align: center;
//   opacity: 1;
//   border-radius: 8px;
//   // border: 1px solid var(--Stroke, #f0f0f0);
//   background: var(--White, #fff);
//   box-shadow: var(--box-shadow);
//   // animation: onoff 10s ease-in-out;
//   // visibility: hidden;
//   overflow: hidden;
//   cursor: none;
// }

// @keyframes onoff {
//   0% {
//     opacity: 0;
//     visibility: visible;
//   }
//   10% {
//     opacity: 0.9;
//   }
//   90% {
//     opacity: 0.9;
//   }
//   100% {
//     opacity: 0;
//     visibility: hidden;
//   }
// }
