@import 'shared/components/QuantityButtonModal/QuantityButtonModal.module.scss';
@import 'theme/abstract/mixins';

.rating {
  // height: 50px;
  display: flex;
}

.star {
  &:not(:first-child) {
    margin-left: 4px;
  }
}

.ratingText {
  margin-left: 8px;
  color: var(--gray-color);
  @include text-styles(Nunito, 12px);
}
