.icon {
  display: block;
  // width: 24px;
  // height: 24px;
  stroke: var(--black-text-color);
  fill: var(--black-text-color);
  // pointer-events: none;

  &:hover,
  &:focus {
    stroke: #f3a610;
    fill: #f3a610;
  }
}
