.readMoreLink {
  border: none;
  outline: none;
  background-color: inherit;

  display: flex;
  flex-direction: row;
  cursor: pointer;
  margin-top: 8px;
  }
  
  .readMoreLabel {
    display: inline-block;
    color: var(--accent-color);
  }
  
  .readMoreIcon {
    stroke: var(--accent-color);
  
    &-reverse {
      transform: rotate(180deg);
    }
  }