.searchForm {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  border-radius: 8px;
  border: var(--border-primary);
  margin-bottom: 16px;
}

.container {
  position: relative;
  width: 100%;
}

.searchInput {
  font-family: Nunito;
  font-weight: 400;
  line-height: normal;

  outline: none;
  height: 42px;
  background-color: transparent;
  border: none;
  color: black;
  font-size: 14px;
  padding: 8px 16px;
}

// .searchBarButton {
//   position: absolute;
//   right: 20px;
//   top: 50%;
//   transform: translateY(-50%);
//   opacity: 0; /* Make it invisible */
//   width: 24px;
//   height: 24px;
//   z-index: 999; /* Ensure it's on top of other elements */
// }
