.swiper {
  min-height: 362px;
  margin-bottom: 32px;
}

.dotsContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 24px;
}

.dot {
  background-color: var(--accent-color);
  opacity: 50%;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  cursor: pointer;
}

.activeDot {
  background-color: var(--accent-color);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  cursor: pointer;
}
