@import 'theme/abstract/_mixins.scss';

.container {
  padding-bottom: 64px;

  @media screen and (min-width: 480px) {
    width: 480px;
    margin: 0 auto;
    // padding: 0 16px 64px;
  }
  @media screen and (min-width: 1280px) {
    width: 606px;
    margin: 0 auto;
    // padding: 0 16px 64px;
  }
}

.order-invoice {
  @media screen and (min-width: 768px) {
    width: 480px;
    border-radius: 12px;
    padding: 12px 20px 40px;
    // background-color: #ddd;
    box-shadow: 0 1px 12px -4px rgba(0, 0, 0, 0.2);
  }

  @media screen and (min-width: 1280px) {
    width: 606px;
  }
}

.textTotal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 18px;
}

.text-sum {
  color: var(--black-text-color);
  /* h3 */
  @include text-styles(Nunito, 16px, normal, 700);
  padding-left: 16px;
  padding-top: 16px;
  padding-bottom: 20px;
}

.total {
  color: var(--black-text-color);
  /* h3 */
  @include text-styles(Nunito, 16px, normal, 700);
  padding-right: 16px;
}
