.checkbox_wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}

.checkbox_wrapper .label {
  align-self: center;
  order: 1;
  margin-bottom: 0;
}

.label {
  display: block;
  position: relative;
  width: 100%;

  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  color: var(--black-text-color);
}

.label.checkbox-label {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  column-gap: 16px;
  width: fit-content;

  height: 16px;
  color: #a3a5a4;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active,
  &:checked {
    color: #f3a610;
  }
}

.label.radio-label {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  column-gap: 16px;
  width: fit-content;
}

.label_length-sm {
  position: relative;
  min-width: 86px;

  &:not(:last-child)::after {
    content: url('../../icons/smallcross.svg');
    stroke: #000;
    display: block;
    box-sizing: border-box;
    height: 8px;
    width: 8px;
    z-index: 20;

    position: absolute;
    right: -9.5px;
    bottom: 20px;
  }
}

.label_length-md {
  min-width: 138px;
  width: calc(50% - 6px);

  & .input {
    text-align: center;
    justify-content: center;
  }
}

.label_length-lg {
  min-width: 256px;
}

.input {
  display: flex;

  width: 100%;
  height: 40px;
  margin: 4px 0 0;
  padding: 0 16px;

  font-family: 'Nunito', sans-serif;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #a3a5a4;

  cursor: pointer;
  border: 1px solid var(--black-text-color);
  border-radius: 8px;
  background-color: transparent;

  transition: all 0.3s ease 0s;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  &:hover,
  &:focus {
    border-color: #f3a610;
    outline: none;
  }

  &:disabled {
    border-color: var(--color-gray);
    color: var(--color-white);
    cursor: not-allowed;
  }

  &[type='search']::-webkit-search-cancel-button,
  &[type='search']::-webkit-search-decoration,
  &[type='search']::-webkit-search-results-button,
  input[type='search']::-webkit-search-results-decoration {
    display: none;
  }
}

.input[type='radio'] {
  position: relative;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  border: 1px solid #f3a610;
  border-radius: 50%;

  &:checked::before {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #f3a610;
  }
}

.input[type='checkbox'] {
  position: relative;
  width: 16px;
  height: 16px;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: 1px solid var(--black-text-color);
  border-radius: 4px;
  background-color: transparent;
  padding: 0;
  margin: 0;

  &::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 10px;
    height: 10px;
    background-color: #f3a610;

    border-radius: 2px;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  &:checked {
    border: 1px solid #f3a610;
    &::before {
      opacity: 1;
    }
  }

  &:hover::before {
    opacity: 0.8;
    background-color: #f3a610;
  }

  &:disabled {
    border-color: var(--color-gray);
    color: var(--color-white);
    cursor: not-allowed;
  }

  &:disabled::before {
    opacity: 0.8;
    background-color: var(--color-gray);
  }
}

.input_lg {
  font-size: 1.5rem;
  padding: 1rem 3.5rem;
}

.input_sm {
  font-size: 0.8rem;
  padding: 0.5rem 1.5rem;
}

.input_sm[type='checkbox'] {
  width: 20px;
  height: 20px;

  &::before {
    top: 2px;
    left: 2px;
    width: 12px;
    height: 12px;
  }
}

.input_md[type='checkbox'] {
  width: 24px;
  height: 24px;

  &::before {
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
  }
}

.input_lg[type='checkbox'] {
  width: 36px;
  height: 36px;

  &::before {
    top: 2px;
    left: 2px;
    width: 28px;
    height: 28px;
  }
}

.input.with-icon {
  padding: 0 48px 0 16px;
}

.icon {
  position: absolute;
  display: flex;
  align-items: center;
  padding: 0;

  height: 40px;
  width: 24px;
  right: 16px;
  bottom: 0;

  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  fill: var(--black-text-color);
  stroke: var(--black-text-color);

  &:hover,
  &:focus,
  &:active {
    stroke: #f3a610;
    fill: #f3a610;
  }
}

.metric {
  position: absolute;
  right: 6px;
  bottom: 4px;

  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--black-text-color);
}
