@import '../../theme/abstract/mixins';

.container {
  // margin-top: 32px;
  margin-bottom: 32px;
}
.title {
  text-align: center;
  /* h2 */
  font-family: Amatic SC;
  font-size: 32px;
  letter-spacing: 0.96px;
  margin-bottom: 24px;
}
.icon {
  width: 288px;
  height: 64px;
  padding: 16px 128px;
  text-align: center;
  flex-shrink: 0;
  border-radius: 12px 12px 0px 0px;
  background: var(--accent-color);
}

.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}
.card {
  width: 288px;
  height: 172px;
  flex-shrink: 0;
  border-radius: 12px;
  background: var(--unnamed, #fff);
  /* тінь для карток */
  box-shadow: var(--box-shadow);
}

.text {
  color: var(--black-text-color);
  padding: 16px 12px 0 12px;
  @include text-styles;
}
