@import 'theme/abstract/mixins';

.productCard {
  max-width: 448px;
  // width: 100%;
  min-width: 280px;
  // width: 92vw;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-radius: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 12px;
  padding-left: 12px;
  background: var(--white-bg-color);
  box-shadow: var(--box-shadow);

  &--selected {
    border: 3px solid var(--accent-color);
  }

  &--notAvailable {
    opacity: 0.7;
  }

  @media screen and (min-width: 480px) and (max-width: 767px) {
    width: 448px;
  }

  @media screen and (min-width: 768px) {
    width: 352px;
    height: 100%;
    min-height: 478px;
    padding-left: 16px;
    padding-right: 16px;
  }
  @media screen and (min-width: 1280px) {
    width: 392px;
  }
}

.image {
  // width: 78vw;
  position: relative;
  width: 100%;
  height: 86vw;
  margin-right: 0;
  background-color: var(--white-text-color);
  border-radius: 8px;
  overflow: hidden;
  // border: solid red 2px;

  @media screen and (min-width: 480px) {
    width: 424px;
    height: 424px;
  }
  @media screen and (min-width: 768px) {
    width: 320px;
    height: 320px;
  }
  @media screen and (min-width: 1280px) {
    width: 360px;
    // height: 320px;
  }
}

.checkbox {
  position: absolute;
  z-index: 20;
  top: 4px;
  left: 16px;
}

// .checkbox-input[type='checkbox'] {
//   margin: 0 0 0 0;
//   border-color: #fff;
//   background-color: rgba(255, 255, 255, 0.5);

//   &:checked {
//     background-color: #fff;
//   }
// }

.checkbox-backdrop {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 48px;
  background-color: rgba(0, 0, 0, 0.4);
}

.expire {
  position: absolute;
  bottom: 15px;

  padding: 7px 15px;
  border-radius: 4px;

  color: var(--black-text-color);
  background-color: var(--accent-color);
  opacity: 0.9;
}

// @media screen and (min-width: 480px) and (max-width: 767px) {
//   .image {
//     width: 424px;
//     height: 424px;
//   }
// }

// @media screen and (min-width: 768px) {
//   .image {
//     width: 264px;
//     height: 264px;
//   }
// }

.link {
  height: 100%;
}

.description {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.info {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;
  flex-grow: 1;
}

.textDesc {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
}

.name {
  @include text-styles(Nunito, 16px, 700);
  color: var(--black-text-color);
  margin: 0;
  max-width: 100%;
  @media screen and (min-width: 768px) {
    font-size: 18px;
  }
}

.price {
  @include text-styles(Nunito, 14px, 400);
  color: var(--gray-color);
  margin: 0;

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.notAvailable {
  color: var(--gray-color);
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: 24px;

  @media screen and (min-width: 1280px) {
    gap: 36px;
  }
}

.button-item {
  min-width: 120px;
  width: 100%;
}

.heart_icon {
  position: absolute;
  top: 7px;
  right: 16px;
  z-index: 20;

  stroke: rgba(243, 166, 16, 1);
  fill: transparent;

  cursor: pointer;

  transition: stroke 0.3s ease 0s, fill 0.3s ease 0s;
}

.heart_icon:hover,
.heart_icon:focus {
  fill: rgba(243, 166, 16, 1);
}

.heart_icon_checked {
  fill: rgba(243, 166, 16, 1);
  stroke: rgba(243, 166, 16, 1);
}

.heart_icon_checked:hover,
.heart_icon_checked:focus,
.heart_icon_checked:active {
  stroke: rgba(243, 166, 16, 1);
  // fill: transparent;
  fill: rgba(243, 166, 16, 1);
}
