@import 'theme/abstract/mixins';

.benefitsContainer {
  background: var(--white-text-color);
  max-width: 1280px;
  margin: 0 auto 32px auto;
}

.benefitsImage {
  display: flex;
  justify-content: center;
  margin-top: 8px;
  margin-bottom: 32px;
}

.benefitsDescription {
  color: var(--black-text-color);
  @include text-styles(Nunito, 16px, 700);
  margin-bottom: 16px;
}

.benefitsText {
  color: var(--black-text-color);
  /* основний текст */
  @include text-styles;
  margin-bottom: 8px;
}

.img {
  background: lightgray 50% / cover no-repeat;
  width: 20px;
  height: 20px;
  margin-right: 16px;
  margin-bottom: 8px;
}

.benefitItem {
  display: flex;
  @include text-styles;
}
