.text-total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}

.text-sum {
  color: var(--Black, #191c2c);
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-left: 16px;
  padding-top: 16px;
  padding-bottom: 20px;
}

.total {
  color: var(--Black, #191c2c);
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  //   padding-right: 16px;
}

.list {
  padding-bottom: 32px;
}

li:not(:last-child) {
  margin-bottom: 20px;
}
