.text {
  text-align: center;

  font-family: 'Nunito', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--gray-color);
}

.link {
  @extend .text;
  color: var(--link-color);
  text-decoration-line: underline;
}

.text--regular {
  margin-top: 12px;
}
