@import 'theme/abstract/_mixins.scss';

.text {
  text-align: center;
  @include text-styles(_, 12px);
  color: var(--gray-color);
}

.link {
  @extend .text;
  color: var(--link-color);
  text-decoration-line: underline;
}

.text--regular {
  margin-top: 12px;
}
