.container {
  margin: 0 auto;
  margin-bottom: 24px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.arrowPrev {
  position: static;
  background-color: transparent;
  border: none;
  margin-right: 10px;
}

.arrowNext {
  position: static;
  background-color: transparent;
  border: none;
  // margin-top: -8px;
  transform: rotate(180deg);
}

.disabled {
  display: none;
}
