.label {
  display: block;
  position: relative;
  width: 100%;

  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  color: var(--black-text-color);
}

.textarea {
  width: 100%;
  margin-top: 4px;
  padding: 8px 16px;

  font-family: 'Nunito', sans-serif;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #a3a5a4;

  outline: none;
  resize: none;
  border: 1px solid var(--black-text-color);
  border-radius: 8px;
  background-color: transparent;
}
