.about {
  background: var(--unnamed, #fefefe);
  padding-top: 32px;
  // padding-left: 15px;
  // padding-right: 15px;
  padding-bottom: 32px;
}

.aboutText {
  color: var(--bg, #191c2c);
  /* основний текст */
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 12px;
}
