@import '../../theme/abstract/mixins';
@import '../../theme/base/base';

.about {
  margin: 0 auto;

  @include text-styles(Amatic SC, 24px, 700);
  line-height: 150%;
  letter-spacing: 0.03em;

  @media screen and (min-width: 480px) and (max-width: 767px) {
    width: 448px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    gap: 36px;
  }

  &__yellowSpot {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    width: 768px;
    height: 460px;
    background-image: url('../../shared/images/YellowSpotMobile.png');
    background-size: cover;
    background-position: bottom;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      position: absolute;
      top: 0;
      right: 50%;
      transform: translateX(50%);
      z-index: -1;
      width: 1280px;
      // height: 436px;
      background-image: url('../../shared/images/YellowSpotTablet.png');
      background-size: cover;
      background-position: bottom;
    }

    @media screen and (min-width: 1280px) {
      position: absolute;
      top: -40px;
      right: 60%;
      transform: translateX(50%);
      z-index: -1;
      width: 2560px;
      height: 600px;
      background-image: url('../../shared/images/YellowSpotDESKTOP.png');
      background-size: cover;
      background-position: bottom;
    }
  }

  &__title {
    position: relative;
    justify-content: space-around;
    padding: 216px 0 32px 0;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      padding: 0 0 72px 0;
    }

    @media screen and (min-width: 1280px) {
      padding: 0 0 145px 107px;
    }

    &__box {
      @media screen and (min-width: 768px) and (max-width: 1279px) {
        width: 352px;
      }
      @media screen and (min-width: 1280px) {
        width: 499px;
      }

      &-textItem {
        @include text-styles(Nunito, 14px, 400);
        letter-spacing: 0;
        margin-bottom: 8px;
      }
    }
  }

  &__benefits {
    padding: 40px 0 80px 0;
    text-align: center;
    position: relative;

    @include text-styles(Amatic SC, 24px, 700);
    line-height: 150%;
    letter-spacing: 0.03em;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      padding: 0px 0 80px 0;
    }
    @media screen and (min-width: 1280px) {
      padding: 0px 52px 80px 52px;
    }

    &__sinus {
      position: absolute;
      bottom: 0;
      right: 50%;
      transform: translateX(50%);
      z-index: -1;
      width: 768px;
      height: 26px;
      background-image: url('../../shared/images/SinusMobile.png');
      background-size: cover;
      background-position: bottom;

      @media screen and (min-width: 768px) and (max-width: 1279px) {
        position: absolute;
        bottom: 0;
        right: 50%;
        transform: translateX(50%);
        z-index: -1;
        width: 1280px;
        height: 34px;
        background-image: url('../../shared/images/SinusTablet.png');
        background-size: cover;
        background-position: bottom;
      }

      @media screen and (min-width: 1280px) {
        position: absolute;
        bottom: 0;
        right: 50%;
        transform: translateX(50%);
        z-index: -1;
        width: 2560px;
        height: 56px;
        background-image: url('../../shared/images/SinusDesktop.png');
        background-size: cover;
        background-position: bottom;
      }
    }
  }

  &__photos {
    padding: 20px 0px;
    text-align: center;
    @media screen and (min-width: 768px) and (max-width: 1279px) {
      padding: 20px 16px 20px 0px;
      margin-bottom: 32px;
    }
    @media screen and (min-width: 1280px) {
      padding: 60px 16px 40px 16px;
    }

    &__photoBox {
      padding: 36px 0 0;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 36px;

      @media screen and (min-width: 1280px) {
        flex-direction: row;
      }

      &-item {
        margin: 0 auto;
        border-radius: 12px;
        width: 100%;

        @media screen and (min-width: 1280px) {
          width: 606px;
        }
      }
      &-text {
        @include text-styles(Nunito, 14px, 400);
        letter-spacing: 0;
        padding-bottom: 32px;
      }
    }

    &__tape {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding: 36px 0 0px;
      gap: 36px;

      @media screen and (min-width: 768px) {
        flex-direction: row;
        gap: 0;
      }

      &-item {
        margin: 0 auto;
        border-radius: 12px;

        @media screen and (min-width: 768px) {
          width: 224px;
        }
        @media screen and (min-width: 1280px) {
          width: 392px;
        }
      }
    }
  }

  &__button {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 60px;

    &__arrow {
      @media screen and (min-width: 768px) {
        position: absolute;
        bottom: -160%;
        right: 80%;
        transform: translateX(50%);
        z-index: -1;
        width: 510.41px;
        height: 676.2px;
        background-image: url('../../shared/images/GreenArrow2.png');
        background-size: cover;
        background-position: bottom;
      }
      @media screen and (min-width: 1280px) {
        position: absolute;
        bottom: -200%;
        right: 78%;
        transform: translateX(50%);
        z-index: -1;
        width: 653.41px;
        height: 856.2px;
        background-image: url('../../shared/images/GreenArrow.png');
        background-size: cover;
        background-position: bottom;
      }
    }
    &__rays {
      @media screen and (min-width: 480px) and (max-width: 767px) {
        position: absolute;
        bottom: 70%;
        left: 70%;
        transform: translateX(50%);
        z-index: 10;
        width: 31.11px;
        height: 38.95px;
        background-image: url('../../shared/images/buttonRays.png');
        background-size: cover;
        background-position: bottom;
      }
      @media screen and (min-width: 768px) {
        position: absolute;
        bottom: 70%;
        left: 64%;
        transform: translateX(50%);
        z-index: 10;
        width: 31.11px;
        height: 38.95px;
        background-image: url('../../shared/images/buttonRays.png');
        background-size: cover;
        background-position: bottom;
      }
      @media screen and (min-width: 1280px) {
        position: absolute;
        bottom: 60%;
        left: 58%;
        transform: translateX(50%);
        z-index: 10;
        width: 31.11px;
        height: 38.95px;
        background-image: url('../../shared/images/buttonRays.png');
        background-size: cover;
        background-position: bottom;
      }
    }
  }
}
