@import 'shared/components/QuantityButtonModal/QuantityButtonModal.module.scss';
@import 'theme/abstract/mixins';

.contentContainer {
    // border: 1px solid var(--Accent, #f3a610);
    // color: var(--black-text-color);
    word-wrap: break-word;
    white-space: normal;
    margin-top: 12px;
    @include text-styles('Nunito', 14px, 400);
  }
 