
.swiper {
    // border: 1px solid var(--Accent, #f3a610);
    margin-top: 12px;
  }
  
  .slidesContainer {
    width: 80px;
    margin: 0 auto;
  }
  
  .currentImgContainer {
    min-width: 80px;
    margin-left: 16px;
    margin-right: 16px;
    border-radius: 12px;
    // border: 1px solid var(--Accent, #f3a610);
    overflow: hidden;
    object-fit: cover;
    box-shadow: var(--box-shadow);
  }
  
  .visibleImages {
    height: 80px;
    transition: transform 0.5s;
    display: flex;
  }
  
  .sideImgContainer {
    min-width: 80px;
    border-radius: 12px;
    overflow: hidden;
    object-fit: cover;
  }
  
  .dotsContainer {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 24px;
  }
  
  .dot {
    background-color: var(--accent-color);
    opacity: 50%;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .activeDot {
    background-color: var(--accent-color);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    cursor: pointer;
  }