@import 'shared/components/QuantityButtonModal/QuantityButtonModal.module.scss';
@import 'theme/abstract/mixins';


.productCard {
  // max-width: 448px;
  width: 92vw;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: var(--border-radius-primery);

  @media screen and (min-width: 480px) and (max-width: 767px) {
    width: 448px;
  }

  @media screen and (min-width: 768px) and (max-width: 1200px) {
    width: 736px;
  }

  
}

.productHalfCard {

  @media screen and (min-width: 768px) and (max-width: 1200px) {
    display: flex;
    gap: 32px;
    border: solid yellowgreen 1px;
  }
}

.productQuarterCard{
 
  @media screen and (min-width: 768px) and (max-width: 1200px) {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 352px;
  border: solid green 1px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    // border: solid yellowgreen 1px;
  }
}


.image {
  width: 100%;
  height: 86vw;
  margin-top: 10px;
  background-color: var(--white-text-color);
  border-radius: var(--border-radius-secondary);
  overflow: hidden;
  // border: solid red 1px;

  @media screen and (min-width: 480px) and (max-width: 767px) {
    width: 424px;
    height: 424px;
  }

  @media screen and (min-width: 768px) {
    width: 352px;
height: 292px;
  }
}

.price {
 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 352px;
  margin-top: 12px;

  @media screen and (min-width: 768px) {
    flex-direction: column;
    margin-top: 20px;
  }
}

.priceHeading {
  @media screen and (min-width: 768px) {
    // background-color: rgb(171, 171, 250);
  }
}

.priceQuantity{
 
  @media screen and (min-width: 768px) {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     margin-top: 17px;
     margin-bottom: -5px;
  }
}

//==============
.title {
  color: var(--black-text-color);
  margin-left: 50px;
  /* h2 */
  @include text-styles('Amatic SC', 32px, 700);
  letter-spacing: 0.96px;
}

.titleContainer {
  display: flex;
  width: 100%;
  padding: 32px 0 24px 0;
}


.amount {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.custom-value {
  color: var(--Black, #be1515);
  @include text-styles(_, 16px);
}

.expanded {
  max-height: none;
}

.rewieTitleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.customButton {
  width: 1.5rem;
  height: 1.5rem;
}

