@import 'shared/components/QuantityButtonModal/QuantityButtonModal.module.scss';

.productCard {
  max-width: 448px;
  width: 92vw;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 16px;
  padding-bottom: 16px;
  // background: var(--unnamed, rgb(242, 241, 241));
  border-radius: 16px;
  // border: solid grey 1px;

  @media screen and (min-width: 480px) and (max-width: 767px) {
    width: 448px;
  }

  @media screen and (min-width: 768px) {
    width: 288px;
    height: 100%;
  }
}

.title {
  color: var(--Black, #191c2c);
  margin-left: 50px;
  /* h2 */
  font-family: Amatic SC;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.96px;
}

.titleContainer {
  display: flex;
  width: 100%;
  padding: 32px 0 24px 0;
}

.image {
  width: 100%;
  height: 86vw;
  margin-top: 10px;
  background-color: #fefefe;
  border-radius: 8px;
  overflow: hidden;
  border: solid red 1px;

  @media screen and (min-width: 480px) and (max-width: 767px) {
    width: 424px;
    height: 424px;
  }

  @media screen and (min-width: 768px) {
    width: 264px;
    height: 264px;
  }
}

.imageSliderContainer {
  // border: 1px solid var(--Accent, #f3a610);
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.imageSlider {
  width: 80px;
  height: 80px;
  border-radius: 12px;
  border: 1px solid var(--Accent, #f3a610);
  // background: lightgray 50%;

  @media screen and (min-width: 480px) and (max-width: 767px) {
    width: 448px;
  }

  @media screen and (min-width: 768px) {
    width: 288px;
    height: 100%;
  }
}

.rating {
  margin-top: 5px;
  display: flex;
  gap: 5px;
}

.ratingText {
  padding-left: 3px;
  color: var(--Gray, #a3a5a4);
  font-family: Nunito;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.price {
  // border: 1px solid var(--Accent, #f3a610);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1px;
}

.amount {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.custom-value {
  color: var(--Black, #be1515);

  /* h3 */
  font-family: Nunito;
  font-size: 10rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.contentContainer {
  // border: 1px solid var(--Accent, #f3a610);
  color: var(--Black, #191c2c);
  word-wrap: break-word;
  white-space: normal;
}

.contentText {
  color: var(--Black, #191c2c);
  font-size: 14px;
}

.contentHeader {
  display: inline;
  margin-right: 8px;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.descriptionContainer {
  // border: 1px solid var(--Accent, #f3a610);
  margin-top: 20px;
  // max-height: 57px;
  color: var(--Black, #191c2c);
  word-wrap: break-word;
  white-space: normal;
}

.descriptionText {
  color: var(--Black, #191c2c);
  font-size: 14px;

  overflow: hidden;
  position: relative;
}

.readMoreLink {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  margin-top: 8px;
}

.readMoreButton {
  display: inline-block;
  color: #f3a610;
}

.readMoreIcon {
  stroke: #f3a610;

  &-reverse {
    transform: rotate(180deg);
  }
}

.expanded {
  max-height: none;
}

.rewieContainer {
  display: flex;
  flex-direction: column;
}

.rewieTitleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rewieTitle {
  color: var(--Black, #191c2c);
  margin-bottom: 8px;
}

.rewieCount {
  color: var(--Gray, #a3a5a4);
}

.reviewItem {
  padding: 16px;
  width: 288px;
  // height: 146px;
  border-radius: 8px;
  border: 1px solid var(--Stroke, #f0f0f0);
  margin-bottom: 12px;
}

.reviewBox {
  // margin-bottom: 12px;
}

.userInfo {
  display: flex;
  flex-direction: row;
  margin-bottom: 8px;
}

.avatar {
  width: 24px;
  height: 24px;
  margin-right: 12px;
  margin-left: 16px;
}

.userName {
  color: var(--Black, #191c2c);
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.reviewDate {
  color: var(--Gray, #a3a5a4);
  font-family: Nunito;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.reviewText {
  margin-top: 12px;
  color: var(--Black, #191c2c);
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.reviewList {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  // gap: 12px;
}

// ======swiper========

.swiper {
  // border: 1px solid var(--Accent, #f3a610);
  margin-bottom: 12px;
}

.slidesContainer {
  width: 80px;
  margin: 0 auto;
}

.currentImgContainer {
  min-width: 80px;
  margin-left: 16px;
  margin-right: 16px;
  border-radius: 12px;
  // border: 1px solid var(--Accent, #f3a610);
  overflow: hidden;
  object-fit: cover;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
}

.visibleImages {
  height: 80px;
  transition: transform 0.5s;
  display: flex;
}

.sideImgContainer {
  min-width: 80px;
  border-radius: 12px;
  overflow: hidden;
  object-fit: cover;
}

.dotsContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 24px;
}

.dot {
  background-color: #f3a610;
  opacity: 50%;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  cursor: pointer;
}

.activeDot {
  background-color: #f3a610;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  cursor: pointer;
}

.customButton {
  width: 1.5rem;
  height: 1.5rem;
}
