@import '../../theme/abstract/mixins';

.container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  gap: 12px;
}

.buttonContainer {
  position: relative;
}

@media (max-width: 480px) {
  .buttonContainer {
    width: 50%;
  }
}

.dropdownMenu {
  position: absolute;
  z-index: 10;
  top: 100%;
  left: 0;
  list-style: none;
  width: 100%;
  height: max-content;
  flex-shrink: 0;
  border-radius: 8px;
  border: var(--border-primary);
  background: var(--white-bg-color);
  margin-top: 4px;
}
.dropdownLi {
  color: var(--black-text-color);
  @include text-styles;
  cursor: pointer;
  padding: 8px 16px 8px 16px;

  &:hover {
    background-color: var(--accent-color);
    color: var(--white-text-color);
  }
}

.myCategorySelector {
  font-weight: 400;
  width: calc(100%);
}

.custom-dropdown-container {
  width: calc(100%);
}
