@import '../../theme/abstract/mixins';

.container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.buttonContainer {
  position: relative;
}

.dropdownMenu {
  position: absolute;
  z-index: 10;
  top: 100%;
  left: 0;
  list-style: none;
  width: 100%;
  height: max-content;
  flex-shrink: 0;
  border-radius: 8px;
  // border: 1px solid var(--input, #7b7b7b);
  border: var(--border-primery);
  background: var(--white-bg-color);
  margin-top: 4px;
}
.dropdownLi {
  color: var(--black-text-color);
  /* основний текст */
  @include text-styles;
  cursor: pointer;
  padding: 8px 16px 8px 16px;

  &:hover {
    background-color: var(--accent-color);
    color: var(--white-text-color);
  }
}
