input.input--metric {
  text-align: center;
  padding-right: 24px;
}

.input--metric-length-md {
  position: absolute;
  top: 40px;
  right: 8px;
}

.input--metric-length-sm {
  position: absolute;
  top: 40px;
  right: 8px;
}
