@import '../../theme/abstract/mixins';

.text {
  color: var(--black-text-color);
  /* основний текст */
  @include text-styles;
  text-align: center;
  padding: 60px 22px 33px 23px;
}

.wrapperButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 40px;
  gap: 16px;
}
