@import 'theme/abstract/_mixins.scss';

.logoutBtn {
  color: var(--black-text-color);
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  margin-top: 40px;
  padding-bottom: 32px;
  cursor: pointer;
}

.dataContainer {
  @media screen and (min-width: 480px) {
    max-width: 480px;
    padding: 28px 20px;
    margin: 0 auto;
    margin-bottom: 40px;
    border-radius: 12px;
    background: var(--white_bg, #fff);
    box-shadow: 0px 1px 12px -4px rgba(0, 0, 0, 0.2);
  }
}
