.container {
  // height: auto;

  @media screen and (min-width: 768px) {
    min-height: 500px;
  }
  @media screen and (min-width: 1280px) {
    min-height: 100px;
  }
}

.title {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3625;
  color: #191c2c;
  margin-bottom: 8px;

  @media screen and (min-width: 768px) {
    font-size: 20px;
  }
}

.text {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #191c2c;
}

.paragraph {
  margin-bottom: 10px;
}

.indent {
  margin-left: 10px;
}

.read-more {
  margin-top: 4px;
}

.descriptionWrapper::first-letter {
  margin-left: 10px;
}

.descriptionWrapper p::first-letter {
  margin-left: 10px;
}

.descriptionWrapper li {
  margin-left: 30px;
  list-style: initial;
}
