.buttons-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  width: 100%;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    gap: 32px;
  }
}

.buttons-item {
  min-width: 64px;
  width: 100%;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  //   min-width: 64px;
  //   max-width: 120px;
  width: 100%;
  height: 40px;
  outline: none;
  border: none;
  border-radius: 8px;
  background-color: #0a84ff;
  filter: saturate(75%);

  &:hover,
  &:focus,
  &:active {
    // background-color: #004e9c;
    background-color: #0066cc;
    box-shadow: none;
  }

  &:disabled {
    background-color: rgba(0, 102, 204, 0.5);
  }

  &:hover:disabled {
    background-color: rgba(0, 102, 204, 0.5);
  }
}

.portal-button {
  position: fixed;
  z-index: 21;
  top: 25px;
  right: 16px;
}
