.ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.pageNumber {
  margin-right: 4px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--black-text-color);
  border-radius: 50%;
  border: var(--border-accent);
  cursor: pointer;
}

.active {
  color: var(--white-text-color);
  background-color: var(--accent-color);
}

.admin {
  color: #2480dc;
  border-radius: 50%;
  border: 1px solid #2480dc;
}

.active.admin {
  color: var(--white-text-color);
  background-color: #2480dc;
}
