@import 'theme/abstract/_mixins.scss';

.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: center;

  width: 100%;
  min-width: 120px;
  height: 40px;

  @include text-styles(Nunito, 14px, bold, 19px);
  letter-spacing: 0em;

  // border: 1px solid #f3a610;
  border: var(--border-accent);
  color: var(--accent-color);
  background-color: transparent;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    color: var(--white-text-color);
    border: none;
    background-color: var(--accent-color);
    box-shadow: 0px 2px 5px 1px rgba(255, 193, 7, 0.4);
  }
}
