input.input--numeric-lg {
  text-align: start;
}
input.input--numeric-md {
  text-align: center;
}
input.input--numeric-sm {
  text-align: center;
}

input.input--metric {
  text-align: center;
  padding-right: 24px;
}

.currency + input {
  padding-right: 36px;
}

.input--metric-length-md {
  position: absolute;
  // top: 40px;
  bottom: 4px;
  right: 8px;
  color: var(--gray-color);
}

.input--metric-length-sm {
  position: absolute;
  // top: 40px;
  bottom: 4px;
  right: 8px;
  color: var(--gray-color);
}

.currency {
  position: absolute;
  // top: 43px;
  bottom: 4px;
  right: 8px;
  font-size: 12px;
  color: var(--gray-color);
}
