.container {
  @media screen and (min-width: 480px) {
    width: 448px;
    margin: 0 auto;
  }
  @media screen and (min-width: 1280px) {
    width: 556px;
    margin: 0 auto;
  }
}

.list {
  margin-top: 16px;
  margin-bottom: 32px;
}

.item {
  margin-bottom: 12.5px;
}
