.container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  max-width: 320px;
  margin: 0 auto;
  background: linear-gradient(
    360deg,
    rgba(25, 28, 44, 0.3) 0%,
    rgba(19, 19, 19, 0) 100%
  );
  box-shadow: 0px 1px 10px 0px rgba(19, 19, 19, 0.5);

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 1280px;
  }
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  height: 40vmin;
  pointer-events: none;
}

.boxMenu {
  padding-left: 15px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.boxBasket {
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
  gap: 8px;
  padding-right: 15px;
  margin-left: auto;
}
