.container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-center;
  position: relative;

  max-width: 480px;
  margin: 0 auto;
  background-color: #191c2c;
  opacity: 50%;

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 1280px;
  }
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  height: 40vmin;
  pointer-events: none;
}

.boxMenu {
  padding-left: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.boxBasket {
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  gap: 10px;
  padding-right: 15px;
  margin-left: auto;
}
