.userContainer {
  position: relative;
  display: flex;
  gap: 12px;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 12px;
  padding-left: 12px;
  margin-bottom: 10px;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius-secondary);

  @media screen and (min-width: 480px) {
    width: 448px;
  }
}

.avatar {
  width: 96px;
  height: 96px;
  border-radius: var(--border-radius-secondary);
}

.imgWrapper {
  min-width: 96px;
  height: 96px;
  border-radius: var(--border-radius-secondary);
  padding: 0;
  overflow: hidden;
  fill: transparent;
  background-color: transparent;
}

.name {
  display: flex;
  gap: 5px;
}

.toggleSelect {
  margin-top: 5px;
  color: var(--accent-color);
  text-decoration: underline;
}

.newStatusBox {
  position: absolute;
  z-index: 9999;
  background-color: var(--white-bg-color);
  right: -10px;
  top: 90%;
  padding-top: 10px;
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: var(--border-radius-secondary);
  box-shadow: var(--box-shadow);
  // opacity: 1;
  // transition: opacity 1s ease-in-out;
  animation-name: fade-in;
  animation-timing-function: ease-in;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  85% {
    opacity: 0.5;
    transform: translateY(10%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

// .disable {
//   opacity: 0;
//   transition: opacity 1s ease-in-out;
// }
