@import 'theme/abstract/mixins';

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  padding: 24px 16px 40px;
  margin: 20px 0;
  border: 1px solid var(--stroke, #f0f0f0);
  border-radius: 8px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.15);
  @include text-styles(Nunito, 12px);
}

.prompt {
  font-size: 14px;
  line-height: normal;
  color: #a3a5a4;
  margin-bottom: 8px;
}

.label {
  display: block;
  font-size: 14px;
  line-height: normal;
  color: #a3a5a4;
}

.star-block {
  height: 32px;
  margin-bottom: 20px;
}

.textarea {
  display: block;
  width: 100%;
  margin-top: 4px;
  padding: 8px 16px;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  line-height: 1.2;
  color: var(--gray-color);
  outline: none;
  resize: none;
  border: 1px solid #7b7b7b;
  border-radius: 8px;
  background-color: transparent;
}

.submit-button {
  margin-top: 32px;
}

.add-image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 4px;
  margin-top: 12px;
  margin-bottom: 32px;
  color: var(--gray-color);
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    gap: 0.25rem;
  }
}

.add-image-button {
  width: 60px;
  min-width: 60px;
  height: 60px;
  margin-top: 4px;
  border-radius: 4px;
  padding: 0;
  overflow: hidden;
}

.add-image-img {
  width: 100%;
  height: 100%;
}

.file-input-label {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 60px;
  height: 60px;
  padding: 0 16px;
  @include text-styles(Nunito, 14px, 700, 19px);
  border: none;

  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: var(--white-text-color);
  background-color: #d9d9d9;

  &:focus {
    outline: none;
  }

  &:disabled,
  &:focus:disabled,
  &:hover:disabled,
  &:active:disabled {
    color: rgba(254, 254, 254, 0.7);
    background-color: transparent;
    border: 1px solid rgba(254, 254, 254, 0.7);
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal {
  padding: 36px 16px 16px;
}

.modal-container {
  border-radius: 8px;
}

.main-text {
  font-size: 14px;
  color: #a3a5a4;
  margin-bottom: 16px;
}

.modal-img {
  margin-bottom: 20px;
  border-radius: 8px;
}

.modal-button-container {
  display: flex;
  justify-content: center;
  gap: 16px;
  // padding-left: auto;
  // padding-right: auto;
}
