@import '../../../theme/abstract/mixins';

.label {
  display: block;
  position: relative;
  width: 100%;

  /* основний текст */
  @include text-styles;

  color: var(--black-text-color);
}

.textarea {
  width: 100%;
  margin-top: 4px;
  padding: 8px 16px;

  /* основний текст */
  @include text-styles;
  color: var(--gray-color);

  outline: none;
  resize: none;
  border: 1px solid var(--black-text-color);
  border-radius: 8px;
  background-color: transparent;
}
