.inner-container {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  gap: 16px;
  width: 100%;
}

.inner-container.in-profile {
  margin-top: 0;
}

.building {
  margin-right: auto;
}
