.footer {
  background: white;
  padding-bottom: 12px;
  // padding-left: 15px;
  // padding-right: 15px;
}

.footerContainer {
  position: relative;
  width: 100%;
  padding-top: 10px;
}

.footerContainer::before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: radial-gradient(
    49.53% 49.53% at 50% -22.43%,
    #f3a610 0%,
    rgba(243, 166, 16, 0) 100%
  );
}

.footerContainer::after {
  content: '';
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: radial-gradient(
    49.53% 49.53% at 50% -22.43%,
    #f3a610 0%,
    rgba(243, 166, 16, 0) 100%
  );
}

.footerLinks {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.linksList {
  list-style: none;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.footerBox {
  display: flex;
  padding-bottom: 16px;
  justify-content: space-between;
  align-items: flex-end;
}

.footerIcons {
  display: flex;
  gap: 16px;
}

.link {
  text-decoration: none;
  color: var(--bg, #191c2c);
  font-size: 19px;
  &:hover,
  &:focus {
    color: #f3a610;
  }

  &:global(.active) {
    color: #f3a610;
  }
}

.copy {
  margin-top: 20px;
  color: var(--bg, #191c2c);
  font-size: 12px;
  text-align: center;
}
