.footer {
  background: var(--footer-bg, #f4f4f4);
  // ****************
  margin-left: -16px;
  margin-right: -16px;
}

.footerContainer {
  position: relative;
  width: 100%;
  padding: 10px 16px 12px 16px;
}
.footerItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid var(--gray, #a3a5a4);
}
.footerTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.label {
  color: var(--black, #191c2c);
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  &.opened {
    color: var(--opened-label-color, #a3a5a4);
  }
}

.footerLinks {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.linksList {
  width: 100%;
  list-style: none;
  padding: 10px 0 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.link {
  text-decoration: none;
  color: var(--bg, #191c2c);
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  &:hover,
  &:focus {
    color: #f3a610;
  }

  &:global(.active) {
    color: #f3a610;
  }
}

.footerBox {
  padding-top: 20px;
  padding-bottom: 16px;
}

.footerIconsContainers {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &.opened {
    transform: rotate(180deg);
  }
}
.iconButton {
  background: none;
  padding: 0;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease 0s;

  &:hover,
  &:focus,
  &:active {
    color: black;
    fill: black;
    stroke: black;
    background-color: transparent;
  }
}

.socialIcons {
  display: flex;
  gap: 14px;
}
.bankIcons {
  display: flex;
  gap: 16px;
}

.copy {
  margin-top: 20px;
  color: var(--bg, #191c2c);
  font-size: 12px;
  text-align: center;
}
