.wrapper {
    display: flex;
    flex-direction: column;
}

.container{
    margin-top: 32px;
    margin-bottom: 60px;
}

.section {
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 32px;
}

.title{
    margin: 16px 0 16px 0;
    text-align: center;
}

.image {
    justify-content: center;
    // width: 50vw; 
    
  border-radius: var(--border-radius-secondary);
  border-radius: 2%;
  }