.price-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 32px;
  width: 100%;
}

.price,
.quantity {
  display: flex;
  column-gap: 8px;
}

.quantity {
  justify-content: end;
}

.title {
  display: block;
  //   flex-basis: 50%;
  //   flex-grow: 1;

  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #191c2c;
}

.title.mobile {
  display: none;
}

.counter {
  display: inline-flex;
}
