:root {
  --white-bg-color: #ffffff;

  --black-text-color: #191c2c;
  --white-text-color: var(--white-text-color);
  --accent-color: #f3a610;
  --gray-color: #a3a5a4;
  --input_stroke: #7b7b7b;
  --link-color: #68baee;
  --error-color: #f84147;

  --font-family: 'Nunito', sans-serif;
  --font-size: 0.875rem;
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  --font-style: normal;

  --line-height: normal;

  --box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);

  --border-primary: 1px solid var(--input_stroke);

  --border-radius-primery: 1rem;
  --border-radius-secondary: 0.5rem;

  --md-pc: 1200px;
  --md-tablet: 991.98px;
  --md-mobile: 767.98px;
  --md-mobile-small: 479.98px;

  --animation-duration: 500ms;
}
