.input-button {
  position: absolute;
  display: block;
  top: 31px;
  right: 16px;
  // width: 24px;
  // height: 24px;

  padding: 0;
  margin: 0;

  background-color: transparent;
  border: none;
  outline: none;
  fill: var(--black-text-color);
  stroke: var(--black-text-color);

  &:hover,
  &:focus,
  &:active {
    fill: var(--accent-color);
    stroke: var(--accent-color);
    background-color: transparent;
  }
}

.input[type='date'] {
  &::-webkit-calendar-picker-indicator {
    font-variant-caps: titling-caps;
  }
}
