.container {
  margin-top: 20px;
}

.title {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3625;
  color: #191c2c;
  margin-bottom: 8px;
}

.title span {
  color: #a3a5a4;
}

.list li:not(:last-child) {
  margin-bottom: 12px;
}

.read-more {
  margin-top: 8px;
  margin-bottom: 32px;
}
