.container {
  position: relative;
  display: flex;
  align-items: center;
  width: 16px;
  height: 40px;
}

.icon {
  display: block;
  fill: var(--black-text-color);
  cursor: pointer;

  &:hover,
  &:focus {
    fill: #f3a610;
  }
}

.prompt {
  position: absolute;
  bottom: calc(100% - 6px);
  left: 8px;
  display: block;
  width: 140px;
  padding: 8px;

  font-family: 'Nunito', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #a3a5a4;

  border: 1px solid #a3a5a4;
  border-radius: 8px;
  background-color: #fff;
}
