.avatar {
  //   position: relative;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  margin-right: auto;
  margin-left: auto;
}

.wrapper {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  padding: 0;
  overflow: hidden;
  fill: transparent;
  background-color: transparent;
}
