.container {
  padding-top: 8px;
  padding-bottom: 32px;
}

.container.full-view {
  padding-top: 20px;
}

.prompt {
  font-size: 14px;
  line-height: normal;
  color: #a3a5a4;
  margin-bottom: 20px;
}
