.products {
  background: var(--white-text-color);
  // padding-top: 32px;
  // padding-bottom: 30px;
  max-width: 1280px;
  margin: 0 auto 30px auto;
}

.productsTitle {
  color: var(--black-text-color);
  font-family: Amatic SC;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  margin-bottom: 24px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  margin: 0;
  padding: 0;
}

.list-item {
  width: 100%;

  @media screen and (min-width: 480px) {
    width: 448px;
  }
  @media screen and (min-width: 768px) {
    width: 352px;
  }
  @media screen and (min-width: 1280px) {
    width: 392px;
  }
}

.goBackButton {
  position: absolute;
  top: 10;
}

.searchContainer {
  margin-bottom: 24px;
}

// .admin-button {
//   background-color: #4d95c3;

//   &:hover,
//   &:focus,
//   &:active {
//     background-color: #397398;
//   }

//   &:disabled {
//     background-color: #a0c1d7;
//   }

//   &:hover:disabled {
//     background-color: #a0c1d7;
//   }
// }
