.wrapper-allproduct {
  display: flex;
  justify-content: space-between;
  // padding-left: 16px;
  // padding-right: 12px;
  // padding-bottom: 20px;
}

.wrapper-quantityblock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80px;
  margin-left: 12px;
  // padding-bottom: 4px;
}

.wrapper-imageblock {
  width: 80px;
  height: 80px;
  border-radius: 12px;
  overflow: hidden;

  /* Shadow for cards */
  box-shadow: var(--box-shadow);
}

.wrapperButton {
  margin-left: auto;
  width: 256px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 60px;
  gap: 8px;
}

.text-product {
  color: var(--black-text-color);
  /* Additional */
  font-family: Nunito;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.quantityButtoms-container {
  padding-top: 20px;
}

.quantity-container {
  display: flex;
  align-items: center;
  background-color: transparent;
}

.plus-button {
  display: flex;
  align-items: center;
  justify-content: center;

  outline: none;
  border: none;

  padding: 0;
  margin: 0;
  background-color: transparent;
}

.minus-button {
  display: flex;
  align-items: center;
  justify-content: center;

  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
}

.value {
  color: var(--black-text-color);
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-right: 8px;
  padding-left: 8px;
}

.custom-value {
  font-size: 1rem;
  font-weight: 700;
}

.wrapper-basketblock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: auto;
}

.total {
  color: var(--black-text-color);
  // padding-top: 38px;
  /* Main */
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 3px;
}
