.findBtn {
  margin-top: 16px;
  margin-bottom: 32px;
  @media screen and (min-width: 480px) {
    margin: 0 auto;
    margin-top: 16px;
    margin-bottom: 32px;
  }
}

.confirmBtn {
  margin-top: 10px;
  margin-bottom: 32px;
  @media screen and (min-width: 1200px) {
    margin: 0 auto;
    margin-top: 16px;
  }
}

.userStatusBox {
  @media screen and (min-width: 900px) {
    display: flex;
    gap: 24px;
    align-items: flex-end;
  }
}

.newStatusBox {
  @media screen and (min-width: 1200px) {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    margin-bottom: 32px;
    border: var(--border-accent);
    border-radius: var(--border-radius-secondary);
  }
}
