.button {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  min-width: 120px;
  height: 39px;
  padding: 0 16px;

  font-family: 'Nunito', sans-serif;
  letter-spacing: 0em;
  
  border: none;
  border-radius: 8px;  
  cursor: pointer;
  transition: all 0.3s ease 0s;

  &:hover,
  &:focus,
  &:active {
    background-color: #C3840A;
  }

  &:focus {
    outline: none;
  }

  &:disabled,
  &:focus:disabled,
  &:hover:disabled,
  &:active:disabled {
    background-color: rgba(254, 254, 254, 0.7);
    cursor: not-allowed;
  }

  &_primary {
    color: #FEFEFE;
    background-color: #F3A610;
  }

  &_outlined {
    color: #FEFEFE;
    border: 1px solid #F3A610;
    background-color: transparent;

    &:hover,
    &:focus,
    &:active {
      color: #FEFEFE;
      border: none;
      background-color: #F3A610;
    }

    &:disabled,
    &:focus:disabled,
    &:hover:disabled,
    &:active:disabled {
      color: rgba(254, 254, 254, 0.7);
      background-color: transparent;
      border: 1px solid rgba(254, 254, 254, 0.7);
    }
  }

  &_adding, &_settings {
    justify-content: flex-start;
    align-self: flex-start;
    column-gap: 16px;
    height: auto;
    padding: 0 0 0 9px;
    color: #FEFEFE;
    fill: #FEFEFE;
    stroke: #FEFEFE;
    background-color: transparent;
    
    &:hover,
    &:focus,
    &:active {
      color: #F3A610;
      fill: #F3A610;
      stroke: #F3A610;
      background-color: transparent;
    }

    &:disabled,
    &:focus:disabled,
    &:hover:disabled,
    &:active:disabled {
      color: rgba(254, 254, 254, 0.7);
      background-color: transparent;
    }
  }

  &_md {
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
  }

  &_lg {
    font-size: 1.5rem;
    padding: 1rem 3.5rem;
  }

  &_sm {
    font-size: 0.8rem;
    padding: 0.5rem 1.5rem;
  }
}

.icon {
  fill: #FEFEFE;
  fill-opacity: 0.7;
}

.button:hover .icon {
  fill: #F3A610;
  fill-opacity: 1;
}

.button:disabled .icon,
.button:focus:disabled .icon,
.button:hover:disabled .icon,
.button:active:disabled .icon {
  color: rgba(254, 254, 254, 0.7);
  background-color: transparent;
  fill: #FEFEFE;
  fill-opacity: 0.4;
  ;
}